# Python
__pycache__/
*.pyc
.env
.env.*

# Node
node_modules/


# Data / artifacts
data/
*.csv
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/

# DB artifacts
*.db
*.sqlite

# --- Root-level files ---
/test_pg.py
/two_games.csv
/upsert_events_multi_tables.py
/upsert_events.py
/DB/upsert_events_multi_tables2.py

# --- Root-level directories ---
/data/
/DB_old/
/app_old/